@import "base.css";
h1#createTit {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
}

h3 {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-weight: light;
}

a {
    text-decoration: none;
    color: rgb(0, 100, 182);
}

div {
    text-align: center;
}

.form_field {
    /* padding-left: 0%; */
    font-family: 'Comfortaa';
    color: darkcyan;
    /* width: 120px; */
    width: min-content + 10px;
    margin: auto;
}

input {
    font-family: 'Comfortaa';
    font-size: medium;
}

.supercard {
    /* width: 90%; */
    margin: 4% 35%;
    background: #f2f2f2;
    padding-bottom: 5%;
}

.bg {
    /* background: rgb(133, 171, 247); */
    padding-top: 1px;
    padding-bottom: 3%;
}

#player_direction {
    text-align: center;
    width: 50%;
    margin: auto;
}