@import "base.css";
h1#createTit {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
}

h3 {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-weight: light;
}

a {
    text-decoration: none;
    color: rgb(0, 100, 182);
}

div {
    text-align: center;
}

h3#usuario {
    color: black;
}

.form_field {
    /* padding-left: 0%; */
    font-family: 'Comfortaa';
    color: darkcyan;
    /* width: 120px; */
    width: min-content + 10px;
    margin: auto;
}

input {
    font-family: 'Comfortaa';
    font-size: medium;
}

.supercard {
    margin: 4% 35%;
    background: #f2f2f2;
    padding-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 1);
}

.bg {
    /* background: rgb(133, 171, 247); */
    padding-top: 1px;
    padding-bottom: 3%;
}

#player_direction {
    text-align: center;
    width: 25%;
    margin: auto;
    padding: .2%;
}

#player_direction_logout {
    text-align: center;
    width: 25%;
    margin: auto;
    padding: .2%;
    font-style: oblique;
}

#boton_iniciar {
    text-align: center;
    width: 45%;
    margin: auto;
    padding: .2%;
}

#boton_crear {
    text-align: center;
    width: 55%;
    margin: auto;
    padding: .2%;
}

#boton_iniciar:hover {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(75, 110, 175, 0.4);
    transform: translateY(-7px);
}

#boton_crear:hover {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(75, 110, 175, 0.4);
    transform: translateY(-7px);
}

#title_inicio {
    color: rgb(2, 2, 129);
}

.card {
    padding-bottom: 90px;
}

#label {
    color: navy;
}