@import "base.css";

h1 {
    font-family: 'Comfortaa';
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

h2 {
    font-family: 'Comfortaa';
    color: Navy;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-weight: normal;
}

h3 {
    font-family: 'Comfortaa';
    color: darkcyan;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(0, 100, 182);
}

div {
    text-align: center;
}

.form_field {
    /* padding-left: 0%; */
    font-family: 'Comfortaa';
    color: darkcyan;
    /* width: 120px; */
    width: min-content + 10px;
    margin: auto;
}

input#save_button {
    font-family: 'Comfortaa';
    font-size: medium;
}
