{% extends 'food/base.html' %}

{% load static %}

{% block title %}Alimentos{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'food/css/food.css' %}">
<script src="{% static 'food/js/functions.js' %}"></script>
{% endblock head %}

{% block body_content %}
<div class="bg" style="background-image: url('/static/food/images/bg.jpg'); ">
<div class="supercard">

<br>
<h1 id="ordrsTit">Alimentos</h1>

    <table class="allFoods">

        {% comment %} <tr>
            <td id ="desc">
                Alimento
            </td>
            <td id="cate">
                Categoria
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr> {% endcomment %}

        {% for cate in cates  %}
            <tr>
                <td id="cates"> 
                    {{ cate }} 
                </td> 
            </tr>
            
            {% comment %} <tr>
                <td id ="desc_tit">
                    <b>Alimento</b>
                </td>
                <td id="cate">
                    Categoria 
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>{% endcomment %}

            {% for food in foods  %}
                {% if food.categoria.nombre == cate.nombre %}
                    
                        <tr id="foods">
                            <td id="desc">
                                {{food}} 
                            </td>
                            {% comment %} <td id="cate">
                            {{food.categoria.nombre}}
                            
                            </td> {% endcomment %}
                            <td id="img_food">
                                <img id="food_img" title="{{food.descripcion}}" src="/{{food.foto.url}}">
                            </td>
                        
                            <td id="updt">
                                <a href="/food/{{food.id}}/updt_food">
                                    <img id="edit" alt="Editar" title="Editar" src="{% static 'users/images/pencil.png' %}">
                                </a>
                            </td>
                            <td id="del">
                                <a href="/food/{{food.id}}/del_food">
                                    <img id="delete" alt="Borrar" title="Borrar" src="{% static 'users/images/close.png' %}">
                            </td>
                        </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>

    <span id="add_dir"><a id="add" href="/food/add_food"><img id="plus" alt="Agregar" title="Agregar" src="{% static 'users/images/plus.png' %}"><br><span id="add_text">Agregar Alimento</span></a></span>

</div>
</div>

    <footer id="pie_ords">
		&copy; 2020 <a href="/">HannaEats</a>
	</footer>
{% endblock body_content %}