{% extends 'users/base.html' %}

{% load static %}
{% block title %}Inicio{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/css/add_dir.css' %}">
{% endblock css %}
{% block body_content %}

    <h1 id="titulo">Bienvenido a HannaEats</h1> 
  <br>
      <div id="player_direction">
        <h3><a id="mis_dir" href="/category/all">Menú</a></h3>
      </div>
    <br>
      <div id="player_direction">
        <h3><a id="mis_dir" href="/users/all-directions">Mis Direcciones</a></h3>
      </div>
      <br>
      <div id="player_direction">
        <h3><a id="mis_dir" href="/orders">Mis Ordenes</a></h3>
      </div>
      <br>
      <div id="player_direction">
        <h3><a id="mis_dir" href="/food">Mis Alimentos</a></h3>
      </div>
      <br>
      <div id="player_direction">
        <h3><a id="mis_dir" href="/category">Mis Categorias</a></h3>
      </div>
    <br>
    

    <footer id="pie_home">
		&copy; 2020 <a href="/">HannaEats</a>
	</footer>

{% endblock body_content %}