{% extends 'food/base.html' %}

{% load static %}

{% block title %}Estado de Orden{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'food/css/status.css' %}">
{% endblock head %}

{% block body_content %}

    <h1 id="select">Selecciona el estado nuevo</h1>

{% for order in orders  %}

    {% if order.id == to_see.id%}
        {% if user.tipo == 2 %}
            <div id="status">
                        Orden No. {{order.id}}
                    <br>
                        Estado actual de la orden:
                    <br>
                        <span id="curr_stat"><b> {{order.status}} </b></span>
                    
                </div>

            <br>   
            <div id="options"><b>
                
                <a id="stat" href="/food/order/{{order.id}}/onWay">En camino</a>
                <a id="stat" href="/food/order/{{order.id}}/finalized">Finalizada</a>
            </b></div>

            <br>
            <br>
        {% else %}
            <div id="status">
                        Orden No. {{order.id}}
                    <br>
                        Estado actual de la orden:
                    <br>
                        <span id="curr_stat"><b> {{order.status}} </b></span>
                    
                </div>

            <br>   
            <div id="options"><b>
                <a id="stat" href="/food/order/{{order.id}}/received">Recibida</a> 
                <a id="stat" href="/food/order/{{order.id}}/prepared">Preparandose</a>
                <a id="stat" href="/food/order/{{order.id}}/prepared">Lista para entrega</a>
                <a id="stat" href="/food/order/{{order.id}}/onWay">En camino</a>
                <a id="stat" href="/food/order/{{order.id}}/finalized">Finalizada</a> 
                <a id="stat" href="/food/order/{{order.id}}/canceled">Cancelada</a>
            </b></div>

            <br>
            <br>
        {% endif %}
    {% endif %}
{% endfor %}

    <div id="cancelar">
        <a id="cancelar" href="/food/orders">Cancelar</a> 
    <div>

    <footer id="pie_status">
		&copy; 2020 <a href="/">HannaEats</a>
	</footer>
{% endblock body_content %}