footer#pie {
    position: absolute;
}

#food_img {
    height: 80px;
}

.allOrdrs {
    padding-left: 3%;
    padding-bottom: 40px;
}

.allFoods {
    padding-left: 3%;
    padding-bottom: 40px;
    width: 85%;
}

#ordrsTit {
    font-family: Calistoga;
    padding-left: 3%;
    font-size: xxx-large;
    padding-bottom: 1%;
    color: steelblue;
}

#edit {
    width: 25%;
}

#delete {
    width: 25%;
}

#estado {
    width: 15%;
    text-align: center;
}

#desc {
    padding-left: 5%;
    width: 55%;
    color: black;
    font-size: larger;
    font-family: Comfortaa;
}

#desc_tit {
    padding-left: 2.5%;
    width: 55%;
    color: black;
    font-size: x-large;
    font-family: Comfortaa;
}

#cate {
    text-align: center;
    width: 13%;
    color: black;
    font-size: larger;
    font-family: Comfortaa;
}

#cates {
    width: 13%;
    color: black;
    padding-bottom: 1%;
    font-size: xx-large;
    font-family: 'Bree Serif';
    padding-left: 1.5%;
    color: peru;
}

#img_food {
    /* padding-left: 5%; */
    text-align: center;
    width: 16%;
}

#updt {
    text-align: center;
    width: 10%;
}

#del {
    text-align: center;
    width: 10%;
}

footer#pie_ords {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px;
    flex: 0 0 auto;
    bottom: 0;
    margin-bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
}

tr#labels {
    padding-left: 2.5%;
    color: black;
    font-family: Manrope;
}

#estado_str {
    color: rgb(255, 255, 255);
    padding: 3% 5%;
    font-size: large;
    background: rgb(33, 172, 44);
    border-radius: 15px;
}

span#add_dir {
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 18px;
    right: 0;
    position: absolute;
    margin-bottom: 23px;
    font-family: 'Comfortaa';
    margin-right: 5%;
    border-radius: 45px;
    padding: 0.5% 2%;
}

#add_dir:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    text-decoration-color: #fff;
    background-color: rgb(0, 100, 182);
}

a#add:hover {
    color: #fff;
}

#plus {
    width: 15%;
    padding: 0 45%;
}

a {
    text-decoration: none;
    color: rgb(0, 100, 182);
}

.supercard {
    width: 90%;
    margin: 0% 5%;
    background: #f2f2f2;
    padding-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 1);
}

.bg {
    /* background: rgb(133, 171, 247); */
    padding-top: 1px;
    padding-bottom: 2%;
}